
# Set A

# List

In [1]:
# write a python program to sum all the items in a list.

A=[1,2,3,4,5,]
B=sum(A)
print("Sum of Elements in A:",B)

Sum of Elements in A: 15

In [2]:
# Write apython program to multiplies all the items in a list.

#Multiplication of elament in list
A=[1,2,3,4,5]
B=1
for i in A:
    B=B*i
print("Multiplication of Elements in A:",B)

Multiplication of Elements in A: 120

In [3]:
# Write a python program to get a list, sorted in increasing order by the last element in each tuple from a given list of 
#non-empty tuples

def last(n):
    return n[-1]

def incr(list):
    return sorted(list,key=last)

list=[(10,20),(30,40),(40,10),(24,34)]
print("after sorting=",incr(list))

after sorting= [(40, 10), (10, 20), (24, 34), (30, 40)]

# Tuples

In [4]:
#Write a python program to create a tuples.

A=("Vaibhav","Bcs","shrirampur",413709)
print(A)

('Vaibhav', 'Bcs', 'shrirampur', 413709)

In [5]:
# Write a python program to create a tuple with differnt data types.

#Numeric Tupple
A=(2,5,6,8,1,9,2,71,2)
print(A)
#Float Tuple
B=(2.2,22.5,22.6,88.6,22.01,33.05)
print(B)
#Character Tuple
C=("A","B","C","D","E","F")
print(C)
#String Tuple
D=("Vaibhav","Tushar","Aditya","Rushi")
print(D)
#Mixed Tuple
E=(1,"Vaibhav","Bcs","shrirampur",413709,90.60)
print(E)

(2, 5, 6, 8, 1, 9, 2, 71, 2)
(2.2, 22.5, 22.6, 88.6, 22.01, 33.05)
('A', 'B', 'C', 'D', 'E', 'F')
('Vaibhav', 'Tushar', 'Aditya', 'Rushi')
(1, 'Vaibhav', 'Bcs', 'shrirampur', 413709, 90.6)

In [6]:
# Write a python program to check whether an element exists within a tuple.

t=(1,2,3,4)
if(5 in  t):
    print("elements exit")
else:
    print("elemetnt doesnt exist")

elemetnt doesnt exist

# Sets

In [8]:
# Write a python program to create a set.

A={2,3,5,6,8,9,6,6,7,44}
print(A)
B={"a","b","c","d","e","f","g","h"}
print(B)
C={"Rushi","Tushar"}
print(C)
#Empty set                                
D={}
print(D)

{2, 3, 5, 6, 7, 8, 9, 44}
{'h', 'f', 'g', 'd', 'c', 'e', 'a', 'b'}
{'Tushar', 'Rushi'}
{}

In [10]:
# Write a python progra to iterate over sets.

A={1,2,"rbnb",(1,5,6,9),"Aditya"}
print(A)
A.add(55)
A.update([5,6,9,8])
print(A)
A.discard("Aditya")
print(A)
A.remove(2)
print(A)
B={99,88,66,55,5,"rbnb",2}
C=A.union(B)
print(C)

{1, 2, 'Aditya', 'rbnb', (1, 5, 6, 9)}
{1, 2, 5, 6, 8, 9, 'rbnb', (1, 5, 6, 9), 'Aditya', 55}
{1, 2, 5, 6, 8, 9, 'rbnb', (1, 5, 6, 9), 55}
{1, 5, 6, 8, 9, 'rbnb', (1, 5, 6, 9), 55}
{1, 2, 99, 66, 5, 6, 8, 9, 'rbnb', (1, 5, 6, 9), 55, 88}

In [16]:
#write python program to create set differnt.

A={1,32,5,6,2,4,586,85}
B={2,5,32,5,1,8,15,15,2,82,85}
print("Set A",A)
print("Set B",B)
C=A.difference(B)
print("Set difference between A and B",C)

Set A {32, 1, 2, 4, 5, 6, 586, 85}
Set B {32, 1, 2, 5, 8, 15, 82, 85}
Set difference between A and B {586, 4, 6}

# Dictionary

In [2]:
# Write a python script to sort(Ascending and Descending ) a dictionary by value.

import operator
d = {1: "Java", 2: "Python", 3: "PHP", 4: "Html", 5: "Data Science"}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 'Java', 2: 'Python', 3: 'PHP', 4: 'Html', 5: 'Data Science'}
Dictionary in ascending order by value :  [(5, 'Data Science'), (4, 'Html'), (1, 'Java'), (3, 'PHP'), (2, 'Python')]
Dictionary in descending order by value :  {2: 'Python', 3: 'PHP', 1: 'Java', 4: 'Html', 5: 'Data Science'}

In [1]:
# Write a python Script to add key to a dictionary.

A={"Name":"Vaibhav","Roll NO":3325,"add":"Shrirampur"}
A[5]:"Rbnb college Shriampur"
print("Updated A:",A)
A[1]:2589631479630.11346
print("Updated after adding 1:",A)

Updated A: {'Name': 'Vaibhav', 'Roll NO': 3325, 'add': 'Shrirampur'}
Updated after adding 1: {'Name': 'Vaibhav', 'Roll NO': 3325, 'add': 'Shrirampur'}

In [2]:
#Write a progran to iterate over dictionary using function.

d1={'name': 'Ravi', 'age': 23, 'marks': 56}
for k,v in d1.items():
    print (k,v)

name Ravi
age 23
marks 56

# Set B

# List

In [3]:
#Write a program to remove Duplicates from a list.

A=[2,3,5,4,4,4,4,5,5,6,9,8,7,3,2]
B=[]
for i in A:
   if i not in B:
       B.append(i)
print(B)

[2, 3, 5, 4, 6, 9, 8, 7]

In [4]:
# Write a python program to check a list is empty or not.

A=[]
B=len(A)
if(B==0):
    print("List is empty")
else:
    print("List contain elemants")

List is empty

# Tuples

In [5]:
# Write a python to convert a list to a tuples.

def convert(list):
    return tuple(list)
list = [1,2,3,4,5,6,7,8]
print(convert(list))

(1, 2, 3, 4, 5, 6, 7, 8)

In [6]:
#Write a python program to remove an item from a tuple

a = (1, 2, 3, 4, 5)
b = a[:2] + a[3:]
print(b)

(1, 2, 4, 5)

In [7]:
#Write a python program to slice a tuple.

A= ('a','b','c','d','e','f','g','h','i','j')
print(A[0:6])
print(A[1:9:2])
print(A[-1:-5:-2])

('a', 'b', 'c', 'd', 'e', 'f')
('b', 'd', 'f', 'h')
('j', 'h')

In [8]:
# Write a python Program to find the length of tuple.

A=(1,2,3,4,5,6,7,8,9,0)
print("Lenght of tuple is:",len(A))

Lenght of tuple is: 10

# Sets

In [16]:
#write a Python program to check if a set is subset of another set.

A={1,2,3,4,5,6,7,8,9,0}
B={1,2,3,4,5}
if(B.issubset(A)):
    print("B is subset of A")
else:
    print("B is not Subset of A")

B is subset of A

In [1]:
#Write a python program to find maximum and the minimum value in the set.

A={1,88,66,51,95,42,82,69,36,58}
B=max(A)   #use max(set) to find maximum element in set 
C=min(A)   #use min(set) to find minimum element in set
print("Maximum value in set is:",B)
print("Minimum value in set is:",C)

Maximum value in set is: 95
Minimum value in set is: 1

In [5]:
# Write a python program to find a length of set.

A={1,2,3,4,5,6,9,8,7,8,9,10}
B=len(A)
print("Lenght of set A is :",B)
#use len(set) function to find lenght of perticular set

Lenght of set A is : 10

# Dictionary

In [6]:
# Write a python script to generate and print a dictionary that contains a number (between 1 & n)int the form (x,x*x).

n=int(input("Input a number "))
dict = dict()

for x in range(1,n+1):
    dict[x]=x*x

print(dict)

Input a number 12
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

In [8]:
# Wirte a python script to merge two python dictionaries.

A = {'a': 10, 'b': 20}
B = {'c': 30, 'd': 40}
A.update(B)
print(A)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}